<!DOCTYPE html>
<html>
<head>
    <title>Data Redundancy Removal System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Data Redundancy Removal System</h1>

   {% if message %}
<p class="message">
    {{ message }}
</p>
{% endif %}

    <form method="POST">

        <label>Name</label>
        <input type="text" name="name" required>

        <label>Email</label>
        <input type="email" name="email" required>

        <button type="submit">Submit</button>

    </form>

</div>

</body>
</html>